<% @title = "Set your password" %>

<h1>Set your password</h1>

<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%=f.error_messages %>
  <%= render :partial => "password_resets/form", :locals => {:f => f} %>

  <div>
    <%= submit_tag "Update password", :class => "submit" %>
  </div>
<% end %>