.leftcol
  %h2 Your account details

  - form_for(@user) do |f|
    =render :partial => "form", :locals => {:f => f}
  
    = submit_tag "Update your account", :class => "submit"

.rightcol
  %h2 Change your password  
  - form_for(@user) do |f|
    = render :partial => "password_resets/form", :locals => {:f => f}
    = submit_tag "Change password", :class => "submit"
