<div id="row">
  <h3><%= f.label :email %></h3>
  <p>It's really important that you set this to a valid, working, and responsive email address.  This is never shown to anyone on the site, and it's how we will communicate with you about your account as what you are looking for. </p>
  
  <%= f.text_field :email %>
</div>