<% @title = "Set your password" %>

<h1>Almost done...</h1>

<p>You'll need a password for this site. Please enter it now.</p>
<% form_for(@user, :url => activate_path(@user.id), :method => :post)  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "password_resets/form", :locals => {:f => f} %>
  <%= submit_tag "Start using your account!", :class => "submit" %>
<% end %>