- @title = "Title"
%h1= @title

.leftcol
  = button_to "Sign up and get involved!", signup_url, :method => :get, :class=>"submit"
 
.rightcol
  - unless current_user
    %h2 Sign in!
    = render :partial => "user_sessions/form"
  
