<p>
  <%= f.label :email %>  <br />
  <%= f.text_field :email %>
</p>

<div>
	  <%= render :partial => "password_resets/form", :locals => {:f => f} %>
	  <%= render :partial => "users/form", :locals => {:f => f} %>
</div>